.SectionSeven__Layout {
  display: grid;
  padding: 80px 160px;
  grid-template-rows: 1fr;
  background: #fcfcfd;
  grid-template-columns: 1fr 1fr;
}
.SectionSeven__textSave {
  color: #777e91;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.SectionSeven__textEarn {
  color: #23262f;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
}
.SectionSeven__textCreative {
  color: #777e91;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.SectionSeven__buttons {
  display: flex;
}
