.Header__BlueBtn {
  background: #3772ff;
  border-radius: 90px;
  border: none;
  width: 100px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  margin: 3px;
  height: 40px;
}
.Header__BlueBtn:hover {
  box-shadow: 20px 20px 20px 5px rgb(0 0 0 / 2%);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: 1s;
  background: #ffffff;
  border-radius: 90px;
  border: 2px solid #3772ff;
  transition: all 0.35s ease-in-out;
  width: 100px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
  color: #3772ff;
  margin: 3px;
  height: 40px;
}
@media (max-width: 760px) {
  .Header__BlueBtn {
    margin-left: 0px !important;
    width: 150px;
    letter-spacing: 1px;
    height: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    border: 2px solid #e6e8ec;
    background: #3772ff;
    font-weight: 500;
    text-shadow: 0 0 7px rgb(218 112 214 / 50%);
    box-shadow: 0 0 15px rgb(218 112 214 / 30%);
  }
}
