.GSO__VedioImage {
  width: 530px;
  background-image: url("https://images.unsplash.com/photo-1618193139062-2c5bf4f935b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  opacity: 0.9;
  border-radius: 10px;
  background-size: cover;
  height: 800px;
}
@media (max-width: 1024px) {
  .GSO__VedioImage {
    width: 500px;
    border-radius: 10px;
  }
}
@media (max-width: 760px) {
  .GSO__VedioImage {
    width: 350px;
    border-radius: 10px;
    height: 400px;
  }
}
@media (max-width: 350px) {
  .GSO__VedioImage {
    width: 270px;
    border-radius: 10px;
    height: 400px;
  }
}
