.GridSectionTwo__GridLayout {
  margin-top: 200px;
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr;
}
.GridSection__avatarsOne {
  display: flex;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-evenly;
}
.GridSectionTwo__LilAvatar {
  width: 48px;
  border-radius: 50%;
}
.GST__FutureText {
  color: #23262f;
  font-weight: 700;
  margin: 0px !important;
  font-size: 24px;
}
.GST__StockText {
  color: #353945;
  font-size: 14px;
  font-weight: 500;
  margin: 0px !important;
}
.GST__BidsText {
  color: #777e90;
  font-weight: 400;
  margin: 0px !important;
  font-size: 12px;
}
.GST__EthText {
  color: #45b26b;
  font-size: 12px;
  font-weight: 800;
}
.GST__EthTextBorder {
  border-radius: 6px;
  width: 80px;
  margin-top: 5px;
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #45b26b;
}
.GST__BelowGrid {
  display: flex;
}
.bgSectionTwo__ImageSize {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.GST__ImageCentering {
  text-align: center;
}
.GST__futureLilLeft {
  margin-left: 10px;
}
.GST__HighestBidRight {
  margin-right: 10px;
}
