.SectionSix__CardImg {
  width: 256.07px;
  border-radius: 10px;
  height: 300px;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 16px;
}
.SectionSeven__GreenBtn {
  border-radius: 6px;
  width: 80px;
  margin-top: 12px;
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #45b26b;
}
.SectionSeven__textGreenBtn {
  color: #45b26b;
  font-size: 12px;
  cursor: pointer;
  font-weight: 800;
}
.SectionSeven__Amazin {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #23262f;
}
.SectionSeven__Displacement {
  display: flex;
  justify-content: space-between;
}
.SectionSeven__WadeCircleOne {
  border-radius: 100%;
  border: 2px solid white;
  background-color: #9757d7;
  position: relative;
}
.SectionSeven__WadeCircleTwo {
  border-radius: 100%;
  background-color: #ef466f;
  position: relative;
  right: 7px;
  border: 2px solid white;
}
.SectionSeven__WadeCircleThree {
  border-radius: 100%;
  background-color: #45b26b;
  position: relative;
  right: 14px;
  border: 2px solid white;
}
.SectionSeven__Stock {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
  display: flex;
  line-height: 24px;
  color: #353945;
}
.SectionSevenhightestBidText {
  font-weight: normal;
  font-size: 12px;
  margin: 0px;

  line-height: 20px;
  color: #777e91;
}
.SectionSeven__EthText {
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  margin: 0px;
  color: #353945;
}
.SectionSeven__NewBid {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  margin: 0px;
  color: #777e91;
}
.SectionSevenCandleIcon {
  color: #777e91;
  opacity: 0.9;
}
.SectionSeven__Flex {
  display: flex;
}
.SectionSevenHr {
  color: #777e91;
  height: 1px;
  background-color: #caccd0;
  border: none;
}
.SectionSixMappedLAyout {
  margin-bottom: 50px;
  cursor: pointer;
  transition: transform 550ms;
}
.SectionSixMappedLAyout:hover {
  margin-bottom: 50px;
  transition: transform 550ms;

  box-shadow: 20px 20px 20px 1px rgb(0 0 0 / 3%);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  transition: 1s;
}
@media (max-width: 1024px) {
  .SectionSix__CardImg {
    width: 230.07px;
    border-radius: 10px;
    height: 280px;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 16px;
  }
  .SectionSeven__Displacement {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (max-width: 760px) {
  .Slider__LeftIconFlexin {
    display: flex;
    padding: 136px 90px 128px;
    align-items: center;
    justify-content: center;
  }
  .SectionSeven__Displacement {
    display: flex;
    justify-content: space-evenly;
  }
  .SectionSix__CardImg {
    width: 315px;
    border-radius: 10px;
    height: 300px;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 16px;
  }
}
@media (max-width: 350px) {
  .SectionSix__CardImg {
    width: 270px;
    border-radius: 10px;
    height: 250px;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 16px;
  }
}
