* {
  scroll-behavior: smooth;
}
.SlickReact__backGLayout {
  background: #f4f5f6;
  padding-top: 100px;
  padding-bottom: 100px;
}
.rocket {
  position: fixed;
  right: 4rem;
  animation-name: change-color;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  font-size: 35px;
  bottom: 3rem;
}
.SlickReact__Popular {
  color: #777e91;
  font-weight: 600;
  margin: 0px;
  font-size: 24px;
}
.SlickReact__Seller {
  font-weight: bold;
  font-size: 40px;
  color: #23262f;
  margin: 0px;
}
.SlickReact__textSpaceEvenely {
  display: flex;
  margin-left: 10%;
  margin-bottom: 100px;
  align-items: center;
  margin-right: 10%;
  justify-content: space-between;
}
.SlickReact__Today {
  border: 2px solid #e6e8ec;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 16px;
  background: #fcfcfd;
  width: 256px;
  height: 48px;
  left: 864px;
  top: 16px;
}
.SlickReact__TodayText {
  color: #23262f;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}
.SlicReact__lilopacity {
  opacity: 0.3;
  color: #969ba7;
}
@keyframes change-color {
  from {
    color: #ed3a3a;
  }
  to {
    color: rgb(243, 238, 78);
  }
}

@keyframes change-color1 {
  0% {
    color: red;
  }
  15% {
    color: orange;
    top: 10px;
    left: 10px;
  }
  30% {
    color: yellow;
    top: 20px;
    left: 20px;
  }
  45% {
    color: green;
    top: 30px;
    left: 30px;
  }
  70% {
    color: blue;
    top: 40px;
    left: 40px;
  }
  100% {
    color: purple;
    top: 50px;
    left: 50;
  }
}

@media (max-width: 760px) {
  .SlickReact__Popular {
    color: #777e91;
    font-weight: 600;
    margin: 0px;
    font-size: 18px;
  }
  .SlickReact__Seller {
    font-weight: bold;
    font-size: 24px;
    color: #23262f;
    margin: 0px;
  }
  .SlickReact__Today {
    border: 2px solid #e6e8ec;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 16px;
    background: #fcfcfd;
    width: 146px;
    height: 48px;
    left: 864px;
    top: 16px;
  }
}
@media (max-width: 350px) {
}
