body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.DF {
  display: flex;
}
.DFSA {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.DFSAC {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.text-decoration-none {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
